h1 {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
}
p {
    font-size: large;
    border: 5px solid purple;
    margin: 10px;
    padding: 10px;
}
body {
    background-color: aquamarine;
}